{
	"extends": ["airbnb", "prettier", "prettier/react"],
	"env": {
		"browser": true,
		"jest": true
	},
	"rules": {
		"max-line-length": [true, 100],
		"no-plusplus": "off"
	},
	"plugins": ["prettier"]
}